* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;

  height: 1vh;

  display: grid;
  grid-template-rows: 2fr 1fr 4fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-area: 1 / 1 / 2 / -1;
}

.logo {
  justify-self: start;
  align-self: center;
}

.menu {
  display: contents;
}

.menu ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  background-color: #C50208;

  grid-area: 2 / 1 / -2 / 2;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 5%;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.sidebar .photo,
.sidebar .side-content {
    display: grid;
    place-items: center;
}

.nav {
  background-color: #C50208;

  grid-column: 2 / -1;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article {
  background-color: #bccbde;

  grid-area: 3 / 2 / -2 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: -2 / 1 / -1 / -1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}